<header class="w-full h-[56px] bg-fb-header fixed top-0 left-0 right-0"></header>

<main class="min-h-screen pt-main-span flex">

  <!-- 左邊資訊欄 -->
  <div class="hidden sticky top-main-span max-w-[360px] w-full h-full lg:block">
    <p class="w-full bg-blue-300">左邊資訊欄</p>
  </div>


  <!-- 動態牆 -->
  <div class="max-w-[744px] w-full mx-auto h-[200vh]">
    <p class="w-full bg-white">動態牆</p>
  </div>

  <!-- 右邊聯絡人 -->
  <div class="hidden sticky top-main-span max-w-[360px] w-full h-full lg:block">
    <p class="w-full bg-green-200">右邊聯絡人</p>
  </div>

</main>


